.carreGris {
  background-color: #c4c4c4;
  width: 620px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.carreGris h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.carreGris p {
  font-size: 18;
  line-height: 21px;
}
